<div class="content-wrap">
	<!-- aqui empieza la etuiqueta de igx-nav.-drawer -->
	<!-- isOpen nos controla como queremos que nos aparezca al principio
  position  nos abre a la derecha o a la izquierda 
  pin nos hace ver el efecto de arrastre
  pinThreshold   tiene que estar para que funcione el pin
  width   ancho del cajon abierto   el id es para el igxToggleAction de abajo-->
	<igx-nav-drawer id="navegacion" [isOpen]="false" [position]="'left'" [width]="'200px'" [pin]="true"
		[pinThreshold]="0">

		<!-- En esta template tenemos los iconos -->
		<ng-template igxDrawer>
			<nav>
				<!-- <span igxDrawerItem [isHeader]="false">Components</span> -->

				<span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)" >
          <igx-icon fontSet="material"  *ngIf= "esAdmitido">{{ item.name }}</igx-icon>
          <span>{{ item.text }}</span>
				</span>

        
			</nav>
		</ng-template>


	</igx-nav-drawer>
	<!-- aqui termina la etiqueta -->

	<!-- Dentro de la etiqueta main pondremos nuestr <route-outlet> -->
	<main igxFlex>

		<!-- En este span esta el boton que hace la accion -->
		<span  igxToggleAction="navegacion">
      <igx-icon igxButton="icon" fontSet="material">home</igx-icon> 
    </span>

		<h2>
			Seleccion: <span class="setting-title">{{ selected }}</span>
		</h2>

	</main>
</div>